.banner {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0px;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
}
header {
    border-bottom: 3px solid black;
    top: 0;
}
footer {
    border-top: 3px solid black;
    bottom: 0;
    padding-top: 30px;
    padding-right: 30px;
    text-align: right;
}
section {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.4);
    border: 2px salmon solid;
    border-radius: 16px;
    overflow: auto;
}
body {
    overflow-y: scroll;
    background-image: url("../images/9eafa10d.png");
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}
h1 {
    font-size: 2em;
    font-family: 'Acme', sans-serif;
}
h2 {
    text-align: left;
    font-size: 2.2em;
    font-family: 'Exo', sans-serif;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid salmon;
    margin-bottom: 15px;
}
.name {
    position: absolute;
    left: 20%;
    width: 245px;
    top: 33px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(197, 127, 119);
    color: white;
}
.linksContainer {
    position: absolute;
    right: 20%;
    top: 34px;
    padding: 20px;
}
.leftLink {
    border-right: 1px solid darkgray;
    padding: 5px;
    font-family: 'Acme', sans-serif;
}
.contact {
    padding: 5px;
    font-family: 'Acme', sans-serif;
}
.inputs {
    margin: 5px;
    width: 97%;
    height: 25px;
}
.portfolioPics {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px;
    float: left;
    background-size: cover;
}
.portfolioLinks {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    top: 65%;
    color: white;
    background-color: rgb(197, 127, 119);
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.inputTitle {
    font-family: 'Poppins', sans-serif;
}
#aboutPic {
    height: 150px;
    width: 200px;
    float: left;
    margin-right: 10px;
}
#aboutText {
    font-family: 'Roboto', sans-serif;
}
#message {
    margin: 5px;
    width: 97%;
}
#submit {
    display: block;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}
#firstWheel {
    background-image: url("../images/FirstWheel.jpg");
}
#christopher {
    background-image: url("../images/Christopher.jpg");
}
#declaration {
    background-image: url("../images/Declaration.jpg");
}
#moon {
    background-image: url("../images/MoonLanding.jpg");
}
#johnny5 {
    background-image: url("../images/Johnny5.jpg");
}
#skynet {
    background-image: url("../images/Skynet.jpg");
}